fastapi==0.136.3
uvicorn==0.48.0

streamlit==1.58.0

onnxruntime==1.26.0
opencv-python==4.13.0.92
numpy==2.2.4
pandas==3.0.3

picamera2==0.3.36
gpiozero==2.0.1
lgpio==0.2.2.0

requests==2.32.3

pydantic==2.13.4
PyYAML==6.0.2

python-dotenv==1.2.2